body {
    background-image: url("../images/mooning.png");
    background-repeat: repeat;
    font-family: 'Raleway', sans-serif;
  }

.jumbotron {
    background: none;
    margin: auto;
    width: 75%;
    /* opacity: .5; */
    font-weight: 800;
    font-size: 2 em;
    color:#000099;
}

.card{
    border: solid;
    border-color: #000099;
}

.card-header {
    font-weight: bolder;
}

form {
    border: solid;
    border-color: #000099;
    padding: 2.4%;
    padding-bottom:5%;
    background-color: white;
}
h3{
    border-bottom: solid;
    border-color: lightgray;
}

label {
    font-weight: bold;
}



#add-train-btn{
    background-color: #000099;
    border-color: #000099;
}